* {
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
}

/*********** Layout styles */

.outer-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.style-wrapper {
  grid-column: 2 /span 7;
}

main {
  background: #ecf2f6;
}

hr {
  border: 1px solid #d9e0e7;
}

/************ Side navigation */

.side-nav {
  background: #354051;
  color: #a0acbf;
  display: flex;
  flex-direction: column;
  font-size: .8em;
  position: sticky;
  width: 200px;
}

.user-image {
  padding: 30px 10px 15px 10px;
  text-align: center;
}

.profile-image {
  border-radius: 50px;
  width: 55%;
}

.user-image, .side-section,
 .admin {
  border-bottom: 3px inset #2e3848;
  padding-bottom: 15px;
}

.left-nav h4 {
  color: #607088;
  margin: 20px 0 10px 20px;
}

.side-nav-links,
.catergory-link {
  border-left: 2.5px solid #354051;
  padding: 10px;
}

.side-nav-links i, 
.catergory-link i {
  margin-right: 10px;
  width: 13px;
}

.side-nav-links a, 
.catergory-link a {
  color: #a0acbf;
  padding-left: 10px;
  text-decoration: none;
}


.catergory-link a:hover,
.side-nav-links a:hover {
  color: #fff;
}

.side-nav-links:hover {  
  background: #303a49;
  border-left: 2.5px solid #13a4fa;
}

.yellow {
  color: #ffd505;
}

.blue {
  color: #2baffe;
}

.red {
  color: #e91a61;
}

.green {
  color: #00aa8a;
}

/************ Top Search Section */

header {
  border-bottom: 2px solid #dee4e9;
  background: #fff;
  grid-column: 2 / span 7;
  height: 270px;
}

.search-bar-section {
  align-items: center;
  border-bottom: 2px solid #dee4e9;
  color: #9ba3af;
  display: flex;
}

.hamburger-section {
  border-right: 2px solid #dee4e9;
}

.top-nav {
  border-left: 2px solid #dee4e9;
}

.top-nav:hover {
  background: #13a4fa;
  color: #fff;
}

button:hover, .top-nav:hover,
.hamburger-section:hover,
.side-nav-links:hover {
  cursor: pointer;
}

.hamburger-section, .top-nav {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 80px;
}

.fa-bars {
  color: #7b8594;
  font-size: 1.35em;
}

.fa-bars:hover {
  color: #13a4fa;
}

.fa-caret-left {
  color: #13a4fa;
  margin-right: 3px;
}

#search-bar {
  border: none;
  font-size: 1.5em;
  width: 90%;
  padding: 10px;
}

.seach-bar-form {
  width: 80%;
}

.seach-bar-form i {
  font-size: 1.3em;
  margin-left: 20px;
}

/********** Job title section */

.job-title-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 59%;
}

.location-wrapper {
  align-items: center;
  color: #525562;
  grid-column: 1 / span 3;
  margin: auto;
  width: 90%;
}

.location-wrapper a {
  color: #13a4fa;
  text-decoration: none;
}

.title-buttons {
  align-items: center;
  background: #fff;
  display: flex;
  grid-column: 4 / span 3;
  margin: auto;
  padding-left: 30%;
  width: 90%;
}

.open-btn {
  border-radius: 50px;
  border: 2px solid #9ba3af;
  font-size: .8em;
  margin: auto;
  padding: 10px;
  width: 100px;
}

.open-btn i {
  color: #8cc63e;
} 

.bookmark-btn, .edit-btn,
.trash-btn {
  border-radius: 50px;
  border: 2px solid #9ba3af;
  margin: auto;
  padding: 10px;
  width: 50px;
}

.bookmark-btn i, .edit-btn i,
.trash-btn i {
  color: #9ba3af;
}

.header-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 40px;
}

.nav-content {
  grid-column: 1 / span 6;
  margin: auto;
  padding-top: 5px;
  width: 95%;
}

.nav-content a {
  border-bottom: 2px solid #fff;
  color: #909baa;
  font-size: .9em;
  margin-right: 40px;
  padding-bottom: 5px;
  text-decoration: none;
}

.nav-content a:hover {
  border-bottom: 2px solid #13a4fa;
  color: #505360;
}

/********** graphs */

.graphs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.totals-btn {
  grid-column: 1 / span 2;
}

 .applicant-btn {
  grid-column: 3 / span 2;
}

.totals-btn, .applicant-btn {
  background: #fff;
  border: 2px solid #9ba3af;
  border-radius: 50px;
  color: #657183;
  font-size: .9em;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.bar-graph-container {
  grid-column: 3 / span 2;
  margin: 30px auto;
  text-align: center;
}

.bar-graph img {
  margin: auto auto 35px auto;
  width: 70%;
}

.pies {
  grid-column: 1 / span 2;
  margin: auto;
  text-align: center;
  width: 90%;
}

.pie-flex {
  display: flex;
  margin: 30px auto;
}

.pie-1, .pie-2, .pie-3 {
  width: 35%;
}

.circle-bg {
  fill: none;
  stroke: #d9e4eb;
  stroke-width: 2;
}

.circle {
  animation: progress 2s ease-out forwards;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

.circular-chart.green .circle {
  stroke: #47bac1;
}

.circular-chart.blue .circle {
  stroke: #13a4fa;
}

.circular-chart.purple .circle {
  stroke: #ae69af;
}

.applicant, .interview,
.forward {
  fill: #666;
  font-size: 0.2em;
  text-anchor: middle;
}

.number {
  fill: #666;
  font-size: 0.5em;
  text-anchor: middle;
}

/*********** line break */

.line-break {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.line-break hr {
  width: 47%;
}

.fa-angle-up {
  border: 2px solid #d9e0e7;
  background: #fff;
  border-radius: 50px;
  color: #a5acb7;
  padding: 5px 8px;
  width: 30px;
}

/************ job description */

.job-section-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 95%;
  margin: auto;
}

.job-description {
  grid-column: 1 / span 3;
  width: 95%;
  margin: 60px auto;
}

.job-top-container {
  align-items: center;
  background: #5f708e;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding:9px;
}

.job-top-container h3 {
  font-size: .9em;
  margin: 15px;
}

.edit-job-btn {
  background: #7c8ba6;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: .8em;
  grid-column: 2 / span 2;
  margin: 15px;
  padding: 10px;
  width: 50%;
}

.job-details {
  background: #fff;
  color: #5f708e;
  display: grid;
  font-size: .9em;
  grid-template-columns: repeat(4, 1fr);
}

.job-details img {
  border-radius: 50px;
  margin-right: 20px;
  width: 15%;
}

.job-details h4 {
  align-items: center;
  display: flex;
  grid-column: 1;
  margin: 15px;
  padding: 15px;
}

.job-details p {
  grid-column: 2 / span 3;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px;
  font-size: 1.2em;
}

.job-details hr {
  grid-column: 1 / span 4;
  width: 90%;
  border: 1px solid #eff3f6;
}

/************* Social LInks */

.social-btn {
  display: block;
  height: 60px;
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
}

#face {
  background: #4a6fc2;
  color: #fff;
}

#tweet {
  background: #01abef;
  color: #fff;
}

#linked {
  background: #0681bd;
  color: #fff;
}

.social-links {
  grid-column: 4 / span 2;
  margin: auto;
  margin-top: 60px;
  width: 95%;
}

.social-links input {
  height: 50px;
  padding: 5px;
  width: 80%;
}

.social-links h3 {
  margin-top: 50px;
}

.social-links p {
  line-height: 1.5;
}

.social-links h3, p, input {
  color: #6f7a8a;
} 

.copy-btn {
  background: #47bac1;
  border: none;
  color: #fff;
  height: 50px;
  margin-left: -5px;
}

.link-form {
  border-bottom: 2px solid #d9e0e7;
  padding-bottom: 50px;
}

/********** media queries */

@media screen and (max-width: 1160px) {

  .nav-content {
  width: 95%;
  }

  .nav-content a {
    margin-right: 10px;
  }

  .social-links {
    margin-bottom: 10%;
  }

  .title-buttons {
    padding-left: 0;
  }
}

@media screen and (max-width: 935px) {

  .nav-content {
    padding-top: 0;
    font-size: .8em;
  }

  .side-nav {
    width: 180px;
  }
}

@media screen and (max-width: 910px) {

  .seach-bar-form i {
    font-size: 1em;
    margin-left: 5px;
  }

  #search-bar {
    font-size: 1em;
  }

  .copy-btn {
    width: 90%;
    margin-left: 0;
  }

  .social-links input {
    width: 90%;
  }

  .social-btn {
    height: 50px;
    margin-bottom: 10px;
  }

  .link-form {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 845px) {

  .location-wrapper h1 {
    font-size: 1.5em;
  }

  .job-details h4 {
    padding: 0;
  }

  .job-details p {
    padding: 0;
  }

  .social-links h3 {
    margin-top: 5px;
  }

  .link-form {
    border-bottom: none;
  }
}

@media screen and (max-width: 785px) {

  .side-nav {
    display: none;
  }

  .style-wrapper {
    grid-column: 1 /span 8;
  }

  header {
    height: 220px;
  }

  .job-title-section {
    height: 50%;
  }
}

@media screen and (max-width: 635px) {

  .nav-content a {
    padding-bottom: 0;
    margin-right: 70px;
  }

  .pies {
    grid-column: 1 / span 4;
  }

  .bar-graph-container {
    grid-column: 1 / span 4;
  }

  .job-description {
    grid-column: 1 / span 5;
    margin: 10px auto;
  }

  .social-links {
    grid-column: 1 / span 5;
    margin: 0 auto; 
  }

  .copy-btn {
    width: 18%;
    margin-left: -5px;
  }

  .social-links input {
    width: 80%;
  }

  .job-top-container h3 {
    grid-column: 1 / span 2;
  }

  .edit-job-btn {
    grid-column: 3 / span 2;
    margin: 5px;
  }
}

@media screen and (max-width: 635px) {

  header {
    height: 280px;
  }

  .location-wrapper, .title-buttons {
    grid-column: 1 / span 6;
  }

  .nav-content a {
    padding-bottom: 0;
    margin: 20px;
  }

  .location-wrapper {
    width: 80%;
  }

  .job-title-section {
    height: 60%;
  }

}

@media screen and (max-width: 480px) {

  header {
    height: 295px;
  }

  #search-bar {
    font-size: .8em;
    width: 90%;
    margin: 10px;
    padding: 0;
  }

  .seach-bar-form i {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .nav-content a {
    margin: 10px;
  }
  
}









