* {
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
}

/*********** Layout styles */

.outer-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr)
}

.style-wrapper {
  grid-column: 2 /span 7;
}

main {
  background: #ecf2f6;
}

hr {
  border: 1px solid #d9e0e7;
}

/************ Side navigation */

.side-nav {
  position: sticky;
  width: 180px;
  background: #354051;
  color: #a0acbf;
  display: flex;
  flex-direction: column;
  font-size: .8em;
}

.user-image {
  text-align: center;
  padding: 30px 10px 15px 10px;
}

.profile-image {
  width: 55%;
  border-radius: 50px;
}

.user-image, .side-section,
 .admin {
  border-bottom: 3px inset #2e3848;
  padding-bottom: 15px;
}

.left-nav h4 {
  margin: 20px 0 10px 20px;
  color: #607088;
}

.side-nav-links,
.catergory-link {
  padding: 10px;
  border-left: 2.5px solid #354051;
}

.side-nav-links i, 
.catergory-link i {
  margin-right: 10px;
  width: 13px;
}

.side-nav-links a, 
.catergory-link a {
  color: #a0acbf;
  text-decoration: none;
  padding-left: 10px;
}

.catergory-link a:hover {
  color: #fff;
}

.side-nav-links:hover {
  color: #fff;
  background: #303a49;
  border-left: 2.5px solid #13a4fa;
}

.yellow {
  color: #ffd505;
}

.blue {
  color: #2baffe;
}

.red {
  color: #e91a61;
}

.green {
  color: #00aa8a;
}

/*********** Temporary styles for layout */


.graphs {
  background: purple;
}

.job-description {
  background: blue;
}

.social-links {
  background: green;
}

/************ Header/Seach Section */

header {
  grid-column: 2 / span 7;
  border-bottom: 2px solid #dee4e9;
  background: #fff;
  height: 270px;
}

.search-bar-section {
  border-bottom: 2px solid #dee4e9;
  color: #9ba3af;
  display: flex;
  align-items: center;
}

.hamburger-section {
  border-right: 2px solid #dee4e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
}

.fa-bars {
  font-size: 1.35em;
  color: #7b8594;
}

.fa-caret-left {
  margin-right: 3px;
  color: #13a4fa;
}

#search-bar {
  border: none;
  height: 70px;
}

.seach-bar-form i {
  font-size: 1.3em;
  margin-left: 20px;
}

#search-bar {
  margin-left: 10px;
  width: 400px;
}
















