* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
}

/*********** Layout styles */

.outer-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
}

.style-wrapper {
  grid-column: 2 /span 6;
}

.side-nav-links {
  display: block;
}

/*********** Temporary styles for layout */

.side-nav {
  background: #354051;
}

header {
  background: pink;
}

.graphs {
  background: purple;
}

.job-description {
  background: blue;
}

.social-links {
  background: green;
}
